body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    height: 100vh;
}

.contenedor{
    display:flex ;
    flex-direction: column;
    background-color: rgb(219, 235, 253);
    padding: 20% 10%;
}


.contenedor h1{
    font-size: 80px;
    margin-bottom: 10px;
    font-weight: bold;

}

/*Link*/
.contenedor .link{
    width: 50px;
    display: flex;
    gap: 10px;
}

.contenedor .link .link-img img{
    height: 50px;
}
.contenedor .link .link-img{
    transition: .5s;
}

.contenedor .link .link-img:hover{
    transform: scale(1.1);
}


/*section*/
section{
    height: 50vh;
    background-color: black;
}


