body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: #121212;
    color: rgb(255, 255, 255);

}


/*nav*/
#content-nav {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
    gap: 20px;


}

#content-nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}



#content-nav a:hover {
    color: #7690b8;

}










/* contenedor */
.contenedor {
    display: flex;
    flex-direction: column;
    padding: 15% 10%;

}

.contenedor p {
    width: 50%;
}

.contenedor h1 {
    font-size: 80px;
    margin-bottom: 10px;
    font-weight: bold;

}


/*link linkdln,git,cv*/
.link {
    display: flex;
    width: 60px;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.link .link-img img {
    height: 50px;

}

.link .link-img {
    transition: .5s;
}

.link .link-img:hover {
    transform: scale(1.1);
}

#btn-desc {
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

#btn-desc:hover {
    background-color: #bebebe;
}

/*Proyectos*/
.proyectos {
    text-align: center;
    padding: 50px;
    background: linear-gradient(to right, #000000, #2b2b2b);

}

.proyectos h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #ffffff;
}

.proyectos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.proyecto-card {
    background: rgba(255, 255, 255, 0.192);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.02);
    padding: 20px;
    width: 300px;

}

.proyecto-card img {
    width: 300px;
    height: 360px;
    border-radius: 15px;
    transition: 0.5s;
}

.proyecto-card h2 {
    font-size: 20px;
}

.proyecto-card p {
    font-size: 15px;
    font-weight: 300;

}

.tecnologias {
    display: flex;
    justify-content: center;
    align-items: center;



}

.tecnologias img {
    height: 100%;
    width: 40px;
    filter: drop-shadow(0 4px 4px black);
    margin-bottom: 25px;
}

.tecnologias img:hover,
.proyecto-card img:hover {
    transform: scale(1.05);
}

.btn-ver {
    background-color: rgb(253, 253, 253);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.btn-ver:hover {
    background-color: rgb(1, 96, 219);
    color: #ffffff;
}


/*Conocimiento*/

.conocimiento {

    text-align: center;
    padding: 60px;
    max-width: 100%;
    background-color: rgb(31, 31, 31);
    gap: 10px;
}

.conocimiento h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #ffffff;
}

.conocimiento-container {
    display: flex;
    justify-content: space-between;


}

/*lista conocimientos*/
.list-conocimientos {
    width: 300px;
    margin-top: 100px;

}

.list-conocimientos img {
    width: 30px;
}

/*Educacion*/

.educacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/*Cursos*/

.cursos {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 300px;
    list-style: none;
    text-align: center;
    align-items: center;
}




.info {
    display: none;
}

.info-mostrar {
    display: block;
    font-style: italic;
    text-decoration: none;
    color: #bebebe;
}

.info-mostrar:hover {
    background-color: rgba(255, 255, 255, 0.048);
    border-radius: 5px;
    text-decoration: underline;
}



.titulo-curso-name {
    width: 500px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    background-color: #ddd9d92c;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.titulo-curso-name:hover {
    background-color: #ddd9d949;
}

.titulo-curso-name:active {
    background-color: #5c5c5c5e;
}


/*efecto fade*/

.contenido-fade {
    opacity: 0;

    transition: opacity 1s ease-out;
}

.contenido-fade.visible {
    opacity: 1;

}

/*Footer*/

.content-contacto {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}
.contacto{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    align-items: center;
}

.correo{
    width: 200px;
    align-items: center;
    border-radius: 10px 0 0 10px;
}


#copiarCorreo{
    height: 44.1px;
    width: 40px;
    border-radius: 0 10px 10px 0;
    border: none;   
    cursor: pointer;
}
#copiarCorreo:active{
    background-color: #a0a0a0;
}

#copiarCorreo img{
    width: 20px;
}








@media (max-width:800px){


    body{
        padding: 0;
        margin: 0;
        width: 100vh;
        display: flex;
        flex-direction: column;
        
        

        
    }

    #content-nav{
        display: flex;
        justify-content: center;
        flex-direction: column;  
        width: 100%;
    }

    #content-nav a{
        font-size: 40px;
        background-color: #30313136;
        padding: 10px;
    }
   
    .presentacion{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
        
    }
    .presentacion p{
        width: 100%;
        text-wrap: wrap;
        font-size: 30px;
    }
    
    .link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;  
    }
   .conocimiento{
    display: flex;
    flex-direction: column;
    font-size: 25px;

   }
   .conocimiento-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;

   }

   .content-contacto{
    display: flex;
    padding: 20px;
    font-size: 25px;
   }
    
    .correo{
        width: 360px;
    }
    #copiarCorreo{
        width: 60px;
        height: 80px;
    }

    .proyectos-container{
        width: 100%;
        font-size: 20px;
        display: flex;
        
        align-items: center;
    }

    .proyecto-card{
        padding: 20px;
        
    }

    .proyecto-card p{
        width: 100%;
        font-size: 20px;
        
    }

    .titulo-curso-name{
        width: 50vh;
        padding: 20px;
        font-size: 20px;
    }
}